<% title "Editing Fact Call Detail", true, true %>

<div class="row">
  <div class="col-md-12">
    <h1>Edit Fact_call_detail</h1>
    <%= render 'form', fact_call_detail: @fact_call_detail %>
  </div>
</div>